* {
  box-sizing: border-box;
}

/* header */
.header {
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background-color: lightcoral;
}

.header-icon {
  display: inline-block;
  margin-right: 0.5rem;
}

.header-name {
  display: inline-block;
  margin-right: 1rem;
  font-weight: 700;
}

.header-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: lightpink;
  border-radius: 50%;
  font-weight: 700;
}

/* Input */
.habit-form {
  padding: 1.5rem 2rem;
}

.input {
  padding: 0.5rem;
  margin-right: 1rem;
  outline: none;
  border: 1px solid lightseagreen;
}

.input-button {
  padding: 0.5rem;
  background-color: lightseagreen;
  color: white;
}

/* Reset */
.reset-button {
  margin-left: 2rem;
  padding: 0.5rem;
  background-color: red;
  font-weight: 700;
  color: white;
}

/* Habits */
button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit-wrapper {
  list-style: none;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.habit {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.habit-name: {
}

.habit-count {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  line-height: 40px;
  text-align: center;
  background-color: teal;
  border-radius: 50%;
  color: white;
}

.habit-button {
  font-size: 1.25rem;
  padding: 0.25rem;
  margin: 0 0.25rem;
  background-color: transparent;
  transition: all 0.3s;
}

.habit-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.habit-increase-btn {
  color: red;
}
.habit-decrease-btn {
  color: blue;
}

.habit-delete-btn {
  color: darkred;
}

.habit-edit-btn {
  color: lightseagreen;
}

.habit-edit {
  display: flex;
  align-items: center;
}

.habit-edit button {
  padding: 0.5rem;
  font-weight: 700;
  background-color: lightseagreen;
  color: white;
}
